{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            {% if title %} {{ title }} {% else %} Advisor {% endif %}
        {% endblock %}
    </title>
    <link rel="icon" href="{% static 'images/MilliganBuffalo.jpg' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'advisor/advisor_layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'advisor/tables.css' %}">
</head>
<body>

    
        <nav class="topnav" id="myTopnav">
            <a href="" id="" > <img class="nav_logo" src="{% static 'images/MilliganBuffalo.jpg' %}"/></a>
            {% if user.is_authenticated %}    
                <a class="topnav-right" href="{% url 'admin:index' %}" target="blank">Admin</a>
                <a class="topnav-right" href="{% url 'logout' %}">Log out</a>
            {% else %}
                <a class="topnav-right" href="{% url 'login' %}">Log in</a>
            {% endif %}
                <nav class="topnav-right" id="bar" >|</nav>
                <a class="topnav-right" href="">About</a>
                {% comment %}<!--will be used to display certain courses-->
                <a class="topnav-right" href="{% url 'advisor:courses' %}">Courses</a>
                {% endcomment %}
                <a class="topnav-right" href="{% url 'advisor:advisee_list' %}">Advisees</a>
                <a class="topnav-right" href="{% url 'advisor:advisors' %}">Advisors</a>
                <a class="topnav-right" href="{% url 'advisor:index' %}">Home</a>
            
        </nav>

    <div class="body_width">
        <section>
            <h1></h1>
            <div></div>
        </section>

        
        {% block content %}

        {% endblock %}


<footer>
    
</footer>

</body>

</html>


