
{% extends 'base.html' %}

{% load static %}


{% block content %}

{% if user.is_authenticated %}

<table class="record_tables">
    <tr>
        <th>Advisees</th>
    </tr>
    {% if advisees %}
    
        {% for advisee in advisees %}
            
        <tr>
            <td>
                <a href="{% url 'advisor:advisee' advisee.id %}">{{ advisee }}</a>
            </td>
        </tr>
        {% endfor %}
        
        {% else %}
        <tr>
            <td>
                No students to show.
            </td>
        </tr>

    {% endif %}

</table>

<div>

</div>

{% else %}
        <div>
            <img  id="academic_excellence" src="{% static 'images/MilliganCollege.png' %}"/>
        </div>
        <p>You must log in to view this page.</p>
        <form class="" action="{% url 'login' %}">
            <input class="login_btn" type="submit" value="LOG IN" />
        </form>
{% endif %}

{% endblock %}
