{% extends 'base.html' %}

{% load static %}


{% block content %}

{% if user.is_authenticated %}

    <span id="note_header">{{ advisee_info.first_name }} {{ advisee_info.last_name }}</span>
    <div>
    <form method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}
        <input type="submit" value="Save Grades" >

        
        <button id="submit_notes" type="submit">Save Grades</button>
       

    </form>
    </div>

{% comment%}
    <!--the below section will be displayed if user is not logged in-->
{% endcomment %}
 
{% else %}
    <div>
        <img  id="academic_excellence" src="{% static 'images/MilliganCollege.png' %}"/>
    </div>
    <p>You must log in to view this page.</p>
    <form class="" action="{% url 'login' %}">
        <input class="login_btn" type="submit" value="LOG IN" />
    </form>
{% endif %}

{% endblock %}
