{% extends 'base.html' %}

{% load static %}


{% block content %}

    <span id="note_header">{{ advisee_info.first_name }} {{ advisee_info.last_name }}</span>

    <div class="">
    <form class="grade_form" method="POST">
        {% csrf_token %}
    
        {{ form.as_p }}

        {% comment %}
        <input type="submit" value="Save Notes">
        {% endcomment %}

       
        <button id="submit_notes" type="submit">Save Notes</button>
     
            
    </div>
    </form>

{% endblock %}

{{ form.as_p }}